body {
	text-align: center;
	background-color: #fafafa;
}

.hidden {
	display: none;
}

#loadingDiv {
    background-image: url("images/loading.gif");
    max-width: 20px;
    max-height: 20px;
}

#videoDiv {
    align: center;
    width: 70%;
    height: 70%;
}